# Dependencias
node_modules/

# Build
dist/
dist-ssr/

# Variables de entorno
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# Editor
.idea/
.vscode/

# Sistema operativo
.DS_Store
Thumbs.db

.idea/
